{
    "db": {
        "name": "soonish",
        "host": "localhost",
        "user": "soonish",
        "password": "verysecret"
    },
    "imprint_url": "http://example.com/imprint",
    "site_url": "http://my-site.example.com/",
    "site_name": "My Awesome Site",
    "admin_email": "nobody@example.com",
    "secret": "123456789"
}
