.select2 {
    width: 35em;
}
#s2id_artist {
    display: inline-block;
}
.invalid {
    background-color: #FF8888;
}
.error {
    color: #A00000;
}
label {
    display: inline-block;
    width: 8em;
}
fieldset { border: none }
.param-select {
    background-color: #FFD65C;
    border-radius: 6px;
    border: black 1px;
    margin-left: 1em;
}
.no-results {
    font-weight: bold
}
.header {
    float: right;
    margin: 0.3ex;
}
body {
    max-width: 70em;
}

#footer {
    background-color: #1F57FF;
    color: white;
}
#footer a {
    color: white;
}
#footer li {
    display: inline;
    margin-right: 1ex;
}
#footer ul {
    margin: 2px;
    padding: 2px;
}
dd {
    margin-bottom: 4px;
}
.hidden {
    display: none;
}
.dangerous {
    color: red;
}
